body {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0NbkUOomdo9bwt62RixthbtYWIGZHG7yZKrsd3k1EQwXekGI5m3shJRum9JWCkbmtpXU&usqp=CAU');
    background-repeat: no-repeat;
    background-size: cover;
  }